# See http://EditorConfig.org

# Top-most EditorConfig file
root = true

# Remaining settings apply to all file-types
[*]

# Unix-style newlines
end_of_line = lf
insert_final_newline = true

# Tabs with width 8.
indent_style = tab
indent_size = 8

trim_trailing_whitespace = true
